# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model files (if large or sensitive)
*.keras
*.h5
*.ckpt

# Ignore virtual environment folders
venv/
env/

# Ignore log files
*.log
logs/

# Ignore system files (macOS, Windows)
.DS_Store
Thumbs.db

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.iml
